<h1>School Class Form</h1> 
  <%= form_for(@class) do |f| %> 
    <p><%= f.label :title %>
    <%= f.text_field :title %>
    <p><%= f.label :room_number %>
    <%= f.number_field :room_number %>
    <p><%= f.submit %> 
<% end %> 